In [178]:
import numpy as np
import pandas as pd
from tabulate import tabulate
import seaborn as sns
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split

df = pd.read_csv("best-selling game consoles.csv")
df.head(20)

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN
5,PlayStation 4,Home,Sony,2013,0,117.20,NaN
6,PlayStation,Home,Sony,1994,2006,102.49,NaN
7,Wii,Home,Nintendo,2006,2013,101.63,NaN
8,PlayStation 3,Home,Sony,2006,2017,87.40,Final sales are greater than 87.4 million
9,Xbox 360,Home,Microsoft,2005,2016,84.00,Final sales are greater than 84 million
10,Game Boy Advance,Handheld,Nintendo,2001,2010,81.51,NaN
11,PlayStation Portable,Handheld,Sony,2004,2014,82.00,Estimated between 80-82 million
12,Nintendo 3DS,Handheld,Nintendo,2011,2020,75.94,NaN
13,NES/Famicom,Home,Nintendo,1983,2003,61.91,NaN
14,Xbox One,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
15,SNES/Super Famicom,Home,Nintendo,1990,2003,49.10,NaN
16,Game & Watch,Handheld,Nintendo,1980,1991,43.40,NaN
17,Nintendo 64,Home,Nintendo,1996,2002,32.93,NaN
18,Sega Genesis/Mega Drive,Home,Sega,1988,1997,30.75,NaN
19,PlayStation 5,Home,Sony,2020,0,30.00,NaN

<h3>This dataset provides information on the best-selling game consoles of all time. It includes essential
details such as the console name, manufacturer, release year, total units sold, and additional relevant
information.<h3>

<h2>Data info<h2>

In [179]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

<h4>Here I basic information about the dataset. For example; there is 51 gaming consoles, and I can see what dtype all columns are. In "describe" I see the descriptive statistics on the numerical variables<h4>

<h4>Description of dataset variables

Console Name: The name of the game console.

Type: The type of console (e.g., home console, handheld console).

Company: The company that manufactured the console.

Released Year: The year in which the console was first released.

Discontinuation Year: The year in which the console was discontinued (if applicable).

Units Sold (million): The total number of units sold worldwide, in millions.

Remarks: Any additional remarks or comments about the console (if applicable).<h4>

<h2>Data cleaning<h2>

In [180]:
df.dtypes

Console Name             object
Type                     object
Company                  object
Released Year             int64
Discontinuation Year      int64
Units sold (million)    float64
Remarks                  object
dtype: object

<h4>Checking for duplicates<h4>

In [181]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
dtype: bool

<h4>
Here im looking for missing values.
The result show that there are 35 missing vaules in "Remarks"<h4>

In [182]:
df.isnull().sum()

Console Name             0
Type                     0
Company                  0
Released Year            0
Discontinuation Year     0
Units sold (million)     0
Remarks                 35
dtype: int64

In [183]:
df = df.drop('Remarks', axis=1)

<h4>
Descriptive statistics on categorical variables
<h4>

In [189]:
df.mode()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million)
0,Atari 2600,Home,Nintendo,1990.0,0.0,1.0
1,Atari 5200,NaN,NaN,NaN,1996.0,NaN
2,Atari 7800,NaN,NaN,NaN,1998.0,NaN
3,Atari Lynx,NaN,NaN,NaN,2003.0,NaN
4,ColecoVision,NaN,NaN,NaN,NaN,NaN
5,Color TV-Game,NaN,NaN,NaN,NaN,NaN
6,Dendy(Famiclone),NaN,NaN,NaN,NaN,NaN
7,Dreamcast,NaN,NaN,NaN,NaN,NaN
8,Famicom Disk System,NaN,NaN,NaN,NaN,NaN
9,Game & Watch,NaN,NaN,NaN,NaN,NaN
10,Game Boy,NaN,NaN,NaN,NaN,NaN
11,Game Boy Advance,NaN,NaN,NaN,NaN,NaN
12,Game Boy Color,NaN,NaN,NaN,NaN,NaN
13,GameCube,NaN,NaN,NaN,NaN,NaN
14,Intellivision,NaN,NaN,NaN,NaN,NaN
15,Magnavox Odyssey,NaN,NaN,NaN,NaN,NaN
16,Master System(Brazilian variants),NaN,NaN,NaN,NaN,NaN
17,Mega Drive(Brazilian variants),NaN,NaN,NaN,NaN,NaN
18,N-Gage,NaN,NaN,NaN,NaN,NaN
19,NES Classic Edition,NaN,NaN,NaN,NaN,NaN
20,NES/Famicom,NaN,NaN,NaN,NaN,NaN
21,Nintendo 3DS,NaN,NaN,NaN,NaN,NaN
22,Nintendo 64,NaN,NaN,NaN,NaN,NaN
23,Nintendo DS,NaN,NaN,NaN,NaN,NaN
24,Nintendo Switch,NaN,NaN,NaN,NaN,NaN
25,PC Engine CD-ROM,NaN,NaN,NaN,NaN,NaN
26,PC Engine/TurboGrafx-16,NaN,NaN,NaN,NaN,NaN
27,Philips CD-i,NaN,NaN,NaN,NaN,NaN
28,PlayStation,NaN,NaN,NaN,NaN,NaN
29,PlayStation 2,NaN,NaN,NaN,NaN,NaN
30,PlayStation 3,NaN,NaN,NaN,NaN,NaN
31,PlayStation 4,NaN,NaN,NaN,NaN,NaN
32,PlayStation 5,NaN,NaN,NaN,NaN,NaN
33,PlayStation Portable,NaN,NaN,NaN,NaN,NaN
34,PlayStation Vita,NaN,NaN,NaN,NaN,NaN
35,SNES/Super Famicom,NaN,NaN,NaN,NaN,NaN
36,Sega CD,NaN,NaN,NaN,NaN,NaN
37,Sega Game Gear,NaN,NaN,NaN,NaN,NaN
38,Sega Genesis/Mega Drive,NaN,NaN,NaN,NaN,NaN
39,Sega Master System,NaN,NaN,NaN,NaN,NaN
40,Sega Pico,NaN,NaN,NaN,NaN,NaN
41,Sega Saturn,NaN,NaN,NaN,NaN,NaN
42,Super NES Classic Edition,NaN,NaN,NaN,NaN,NaN
43,Telstar,NaN,NaN,NaN,NaN,NaN
44,Wii,NaN,NaN,NaN,NaN,NaN
45,Wii U,NaN,NaN,NaN,NaN,NaN
46,WonderSwan,NaN,NaN,NaN,NaN,NaN
47,Xbox,NaN,NaN,NaN,NaN,NaN
48,Xbox 360,NaN,NaN,NaN,NaN,NaN
49,Xbox One,NaN,NaN,NaN,NaN,NaN
50,Xbox Series X/S,NaN,NaN,NaN,NaN,NaN

In [190]:
count = df.value_counts()
print(count)

Console Name                       Type                 Company                  Released Year  Discontinuation Year  Units sold (million)
Atari 2600                         Home                 Atari                    1977           1992                  30.00                   1
Sega Genesis/Mega Drive            Home                 Sega                     1988           1997                  30.75                   1
PlayStation                        Home                 Sony                     1994           2006                  102.49                  1
PlayStation 2                      Home                 Sony                     2000           2013                  155.00                  1
PlayStation 3                      Home                 Sony                     2006           2017                  87.40                   1
PlayStation 4                      Home                 Sony                     2013           0                     117.20                  1
PlayStation 5                      Home                 Sony                     2020           0                     30.00                   1
PlayStation Portable               Handheld             Sony                     2004           2014                  82.00                   1
PlayStation Vita                   Handheld             Sony                     2011           2019                  15.00                   1
SNES/Super Famicom                 Home                 Nintendo                 1990           2003                  49.10                   1
Sega CD                            Home console add-on  Sega                     1991           1996                  2.24                    1
Sega Game Gear                     Handheld             Sega                     1990           1997                  10.62                   1
Sega Master System                 Home                 Sega                     1986           1996                  13.00                   1
PC Engine/TurboGrafx-16            Home                 NEC/Hudson Soft[note 6]  1987           1994                  10.00                   1
Sega Pico                          Home                 Sega                     1993           1998                  3.40                    1
Sega Saturn                        Home                 Sega                     1994           2000                  9.26                    1
Super NES Classic Edition          Dedicated            Nintendo                 2017           2018                  5.28                    1
Telstar                            Dedicated            Coleco                   1976           1978                  1.00                    1
Wii                                Home                 Nintendo                 2006           2013                  101.63                  1
Wii U                              Home                 Nintendo                 2012           2017                  13.56                   1
WonderSwan                         Handheld             Bandai                   1999           2018                  3.50                    1
Xbox                               Home                 Microsoft                2001           2009                  24.00                   1
Xbox 360                           Home                 Microsoft                2005           2016                  84.00                   1
Xbox One                           Home                 Microsoft                2013           2020                  58.50                   1
Philips CD-i                       Home                 Philips                  1990           1998                  1.00                    1
PC Engine CD-ROM                   Home console add-on  NEC                      1988           1998                  1.92                    1
Atari 5200                         Home                 Atari                    1982           1984                  1.00                    1
Game Boy Color                     Handheld             Nintendo                 1998           2003                  44.06                   1
Atari 7800                         Home                 Atari                    1986           1991                  1.00                    1
Atari Lynx                         Handheld             Atari                    1989           1995                  1.00                    1
ColecoVision                       Home                 Coleco                   1982           1985                  2.00                    1
Color TV-Game                      Dedicated            Nintendo                 1977           1980                  3.00                    1
Dendy(Famiclone)                   Home                 Micro Genius             1992           1998                  6.00                    1
Dreamcast                          Home                 Sega                     1998           2001                  9.13                    1
Famicom Disk System                Home console add-on  Nintendo                 1986           1992                  4.50                    1
Game & Watch                       Handheld             Nintendo                 1980           1991                  43.40                   1
Game Boy                           Handheld             Nintendo                 1989           2003                  64.42                   1
Game Boy Advance                   Handheld             Nintendo                 2001           2010                  81.51                   1
GameCube                           Home                 Nintendo                 2001           2007                  21.74                   1
Nintendo Switch                    Hybrid               Nintendo                 2017           0                     122.55                  1
Intellivision                      Home                 Mattel                   1980           1990                  3.00                    1
Magnavox Odyssey                   Home                 Magnavox/Philips         1978           1975                  2.00                    1
Master System(Brazilian variants)  Home                 Tectoy                   1989           1996                  8.00                    1
Mega Drive(Brazilian variants)     Home                 Tectoy                   1990           1996                  3.00                    1
N-Gage                             Handheld             Nokia                    2003           2005                  3.00                    1
NES Classic Edition                Dedicated            Nintendo                 2016           2018                  3.56                    1
NES/Famicom                        Home                 Nintendo                 1983           2003                  61.91                   1
Nintendo 3DS                       Handheld             Nintendo                 2011           2020                  75.94                   1
Nintendo 64                        Home                 Nintendo                 1996           2002                  32.93                   1
Nintendo DS                        Handheld             Nintendo                 2004           2013                  154.02                  1
Xbox Series X/S                    Home                 Microsoft                2020           0                     18.50                   1
dtype: int64